<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="D__C__WEB_TEST1_TEST1_APP_DATA_DB_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=D:\C#-WEB\TEST1\TEST1\APP_DATA\DB.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
      <authentication mode ="Forms">
        <forms loginUrl="/Login.aspx"></forms>
      </authentication>                
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
